.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 100px;
  padding: 30px;
  text-align: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 70%;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.subtitle {
  color: (--btn);
}

.title {
  font-size: 54px;
}
.jobTitle {
  margin: 0;
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
}

.box h1 {
  color: #00ffd1;
}

.img {
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  width: 300px;
  height: 300px;
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .textContainer {
    order: 1;
    max-width: 150%;
  }

  .boxes {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
  }
  
  .imgContainer {
    flex: 1;
    margin-top: 30px;
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .img {
    margin-right: 0;
  }
}
