.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  margin-top: -61vh;
}

.backgroundContainer {
  position: relative;
  width: 100vw;
  height: 60vh;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: -1;
  overflow: hidden;
  margin-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.5);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 70%;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  color: (--btn);
}

.title {
  font-size: 54px;
}

.jobTitle {
  margin: 0;
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
}

.box h1 {
  color: #00ffd1;
}

.img {
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  width: 300px;
  height: 300px;
  aspect-ratio: 1 / 1;
}

@media (max-width: 1600px) {
  .backgroundContainer {
    width: 100vw;
    height: 80vh;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .backgroundContainer {
    margin-top: 0;
  }

  .textContainer {
    order: 1;
    max-width: 150%;
  }

  .boxes {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
  }

  .imgContainer {
    flex: 1;
    margin-top: 30px;
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .img {
    margin-right: 0;
  }
}
