.container {
  position: relative;
  display: flex;
  gap: 50px;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 22vh;
  overflow: hidden;
  z-index: -1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgContainer {
  flex: 1;
  min-width: 950px;
  width: 100%;
  height: 650px;
  flex-grow: 2;
  flex-shrink: 0;
  position: relative;
  z-index: -2;
  margin-top: 210px;
}

.heroImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.textContainer {
  margin-top: 400px;
  flex: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 75px;
  white-space: nowrap;
}

.desc {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.brands {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  filter: grayscale(1);
  margin-top: -30px;
}

.interactiveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.secondTextContainer {
  margin-top: 250px;
  flex: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.skillsTree {
  margin-top: 150px;
  width: 100%;
}

@media (max-width: 1600px) {
  .imgContainer {
    margin-top: 100;
  }
  .title {
    padding-right: 100px;
  }
  .videoContainer {
    height: 15vh;
  }

  .textContainer {
    align-items: center;
  }

  .buttons {
    padding-right: 200px;
  }

  .skillsTree {
    padding-left: 250px;
  }

  .brands {
    padding-right: 390px;
  }
}

@media (max-width: 1400px) {
  .skillsTree {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .videoContainer {
    height: 12vh;
  }
  .container {
    flex-direction: column;
    text-align: center;
  }

  .imgContainer {
    min-width: 0;
    width: 100%;
    margin-top: 30px;
  }

  .title {
    padding-right: 0;
  }

  .textContainer {
    padding-top: 0;
    order: 1;
    margin-top: -50px;
    align-items: center;
  }
  .button {
    order: 1;
    margin-top: 0;
    padding-top: 20px;
    max-width: auto;
  }

  .skillsTree {
    padding-left: 0;
    padding-right: 0;
    margin-top: -120px;
  }

  .buttons {
    padding-right: 0;
  }

  .brands {
    padding-right: 0;
  }
}
