.container {
  min-height: 80vh;
  display: flex;
  gap: 50px;
  position: relative;
}

.imgContainer {
  flex: 1;
  position: relative;
  min-width: 950px;
  width: 100%;
  height: 650px;
  flex-grow: 2;
  flex-shrink: 0;
  position: relative;
  z-index: -1;
}

.textContainer {
  margin-top: 210px;
  flex: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 75px;
  white-space: nowrap;
}

.desc {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.brands {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 30px;
  height: 30px;
  position: relative;
  filter: grayscale(1);
  margin-top: -30px;
}

.imgContainer {
  flex: 1;
  position: relative;
  min-width: 950px;
  flex-grow: 2;
  flex-shrink: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.interactiveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondTextContainer {
  margin-top: 250px;
  flex: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .imgContainer {
    order: -1;
    min-width: 0;
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }

  .heroImg {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .button {
    order: 1;
    margin-top: 0;
    padding-top: 20px;
    max-width: auto;
  }

  .textContainer {
    order: 1;
    margin-top: -80px;
    max-width: auto;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .imgContainer {
    order: -1;
    min-width: 0;
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }

  .heroImg {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .textContainer {
    order: 1;
    margin-top: 0;
    padding-top: 50px;
    max-width: auto;
    margin-top: -100px;
  }

  .title {
    font-size: 64px;
  }

  .desc {
    margin-top: -30px;
  }

  .brands {
    width: auto;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -30px;
  }
  .skillTree {
    grid-template-columns: repeat(2, 1fr);
  }
}
